server {
    listen 80;
    server_name {{ http_host }};
    server_tokens off;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
  listen 443 ssl;
  server_name {{ http_host }};
  server_tokens off;
  ssl_certificate /etc/letsencrypt/live/{{ http_host }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ http_host }}/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

  root /usr/share/nginx/html;
  index index.html;

  location / {
    try_files $uri $uri/ /index.html;
  }

  location /graphql {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-NginX-Proxy true;
    proxy_pass http://server:4001/graphql;
    proxy_set_header Host $http_host;
    proxy_cache_bypass $http_upgrade;
    proxy_redirect off;
  }

  # Deny access to apache's htaccess if present
  location ~ /\.ht {
    deny all;
  }
}
